      * {
        box-sizing: border-box;
      }
      
      #map {
        height: 50%;
        width: 90%;
        margin: auto;
        padding: auto;
      }
      
      
      html,
      body {
        height: 100%;
        margin: auto;
        padding: auto;
      }

      #today {
        display: flex;
        flex-direction: row;
        border: 1px solid #000000;
      }
