      * {
        box-sizing: border-box;
      }
      
      #map {
        height: 50%;
        width: 90%;
        margin: auto;
        padding: auto;
      }
      
      
      html,
      body {
        height: 100%;
        margin: auto;
        padding: auto;
      }

      #today {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: auto;
        justify-content: center;
      }

      #child {
        border: solid #000000;
      }

      #form {
        justify-content: center;
        display: flex;
      }
