           * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body{
        font-family: 'montserrat', sans-serif;
        background-image: url('masters.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      header input {
        width: 100%;
        max-width: 280px;
        padding: auto;
        margin: auto;
        border: none;
        outline: none;
        background-color: #2FCFFA;
        border-radius: 16px 0px 16px 0px;
        border-bottom: 3px solid #31DB6E;
        color: #313131;
        font-size: 15px;
        font-weight: 300;
        transition: 0.2s ease-out;
      }

      header {
        background-color: rgba(255,255,255,0.5);
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .title {
        align-self: center;
      }
      
      #map {
        height: 0%;
        width: 0%;
        justify-content: center;
      }
      
      
      html,
      body {
        height: 100%;
        margin: auto;
        padding: auto;
      }

      #now, #week, #city {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      }

      div table {
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        text-align: center;
        border-radius: 10%;
        border: none; 
        border-collapse: collapse;
        margin-top: 10px;
      }

      div table td:first-child { 
        border-left: none; 
      }

      div table td { 
        border-left: 1px solid #000; 
      }

      #form {
        justify-content: center;
        display: flex;
      }
      @media all and (min-width: 760px) {

        body{
          background-position: center;
          background-repeat: no-repeat;
          font-size: larger;       
        }
        header input{
          font-size: 20px;
        }
      }
